
html { font-size: 62.5%;}

/*-------------

1920px 해상도 기준
1px = 0.052vw
8px = 0.417vw
12px = 0.625vw
16px = 0.833vw
18px = 0.938vw
20px = 1.042vw
24px = 1.25vw
28px = 1.458vw
32px = 1.667vw
36px = 1.875vw
40px = 2.083vw
44px = 2.292vw

-------------*/

:root {
  /* Colors */
  --colors-gray-50: #F7F7F7;
  --colors-gray-100: #ECECED;
  --colors-gray-200: #DDDEE0;
  --colors-gray-300: #CCCED1;
  --colors-gray-400: #A9ACB1;
  --colors-gray-500: #93969E;
  --colors-gray-600: #83858D;
  --colors-gray-700: #757780;
  --colors-gray-800: #63636A;
  --colors-gray-900: #515357;
  --colors-gray-950: #343537;

  --colors-primary-500: #DF3448;

  --colors-warm-100: #F5F2EF;

  /*Scale */
  --border-radius-md: 0.8rem;
  --border-radius-lg: 0.8rem;
  --border-radius-xl: 1.2rem;

  --text-body-xxs: 1.2rem;
  --text-body-xs: 1.3rem;
  --text-body-sm: 1.3rem;
  --text-body-md: 1.4rem;
  --text-body-lg: 1.6rem;
  --text-body-xl: 1.8rem;
  --text-body-xxl: 2rem;

  --text-title-xxs: 1.4rem;
  --text-title-xs: 1.4rem;
  --text-title-sm: 1.6rem;
  --text-title-md: 1.8rem;
  --text-title-lg: 2rem;
  --text-title-xl: 2.2rem;
  --text-title-xxl: max(28px, 2vw);

  --text-display-xl: 3.2rem;

  --container-max-width: 100%;
}

@media (min-width: 1025px) {
  :root {

    --border-radius-md: 0.8rem;
    --border-radius-lg: 1.2rem;
    --border-radius-xl: 2.4rem;

    --text-body-xxs: max(1.2rem, 0.625vw);
    --text-body-xs: max(1.3rem, 0.677vw);
    --text-body-sm: max(1.4rem, 0.729vw);
    --text-body-md: max(1.6rem, 0.833vw);
    --text-body-lg: max(1.6rem, 0.938vw);
    --text-body-xl: max(1.8rem, 1.042vw);
    --text-body-xxl: max(2.2rem, 1.25vw);

    --text-title-xxs: max(1.4rem, 0.833vw);
    --text-title-xs: max(1.6rem, 0.938vw);
    --text-title-sm: max(2rem, 1.25vw);
    --text-title-md: max(2.4rem, 1.458vw);
    --text-title-lg: max(2.8rem, 1.667vw);
    --text-title-xl: max(3.2rem, 1.875vw);
    --text-title-xxl: max(3.8rem, 2.292vw);

    --text-display-xl: max(4.8rem, 2.5vw);
  }
}

@media (min-width: 1441px) {
  :root {
    --text-body-xxs: max(1.2rem, 0.625vw);
    --text-body-xs: max(1.3rem, 0.677vw);
    --text-body-sm: max(1.4rem, 0.729vw);
    --text-body-md: max(1.6rem, 0.833vw);
    --text-body-lg: max(1.8rem, 0.938vw);
    --text-body-xl: max(2rem, 1.042vw);
    --text-body-xxl: max(2.4rem, 1.25vw);

    --text-title-xxs: max(1.6rem, 0.833vw);
    --text-title-xs: max(1.8rem, 0.938vw);
    --text-title-sm: max(2.4rem, 1.25vw);
    --text-title-md: max(2.8rem, 1.458vw);
    --text-title-lg: max(3.2rem, 1.667vw);
    --text-title-xl: max(3.6rem, 1.875vw);
    --text-title-xxl: max(4.4rem, 2.292vw);

    --text-display-xl: max(6.4rem, 2.292vw);

    --container-max-width: 71.875vw;
  }
}

@import './components.css';
@import './product.css';
@import './brands.css';
@import './csr.css';
@import './company.css';

/*-----------------------------*/

body{ color: var(--colors-gray-950); letter-spacing: -0.025em; font-weight:500; }

.page-inner-wrap{
  position:relative; width:100%; 
  padding-bottom: max(12rem, 15vh);
}

.container{
  width:100%; position:relative; margin:0 auto; 
  max-width:var(--container-max-width);
  padding: 0 1.6rem;
  &.flow-padding{
    padding: 0 1.6rem; max-width:100%;
  }
}
@media (min-width: 1025px){
  .container{
    &.flow-padding{
      padding: 0 3.2rem; 
    }
  }
}

.grid-col1-2{
  width:100%; display:grid; grid-template-columns:1fr;
}
@media (min-width: 1025px){
  .grid-col1-2{
    grid-template-columns: 1fr 1fr;
  }
}

/*-----------------------------*/

.page-title-wrap{
  width:100%; display:flex; justify-content:center; 
  margin: 12rem 0 6rem 0;
  >.page-title{
    position:relative; text-align:center; font-size:var(--text-title-xxl); 
    display:inline-block; line-height: 1.2em;
    &::after{
      content:''; display:block; width:8px; height:8px; background-color:var(--colors-primary-500);
      position:absolute; border-radius:50%; right: -10px; top: -6px;
    }
  } 
}
.page-inner-wrap:has(.chip-nav-wrap){
  .page-title-wrap{
    margin-bottom: 4.8rem;
  }
}

@media (min-width: 1025px) {
  .page-title-wrap{
    margin: 24rem 0 10rem 0;
    >.page-title{
      &::after{
        width:16px; height:16px; right: -22px; top: -12px;
      }
    }
  }
}

/*-----------------------------*/

.mt-16{ margin-top: 1.6rem; }
.mt-24{ margin-top: 2.4rem; }
.mt-32{ margin-top: 3.2rem; }

.mb-16{ margin-bottom: 1.6rem; }
.mb-24{ margin-bottom: 2.4rem; }
.mb-32{ margin-bottom: 3.2rem; }

/*-----------------------------*/

.chip-nav-wrap{
  position:relative; width:100%; margin-bottom: 4rem; overflow:hidden; padding: 1.6rem 0;
  >.chip-nav{
    position:relative; margin:0 auto; width:100%; display:flex; justify-content:center; gap: 0.6rem;
    >.chip-item{
      flex-shrink:0;
      a{
        color: var(--colors-gray-900); font-size: var(--text-body-md); font-weight: 700;
        padding: 0.8rem 1.6rem; border-radius: 4rem; text-align:center; line-height: 1em;
      }
      &.active{
        a{
          background-color: var(--colors-primary-500); color:white;
        }
      }
    }
  }
}
@media (min-width: 1025px){
  .chip-nav-wrap{
    margin-bottom: 8rem;
    >.chip-nav{
      gap: 0.6rem;
      >.chip-item{
        a{
          font-size: var(--text-body-lg); 
          padding: 1.4rem 2.4rem; 
        }
      }
    }
  }
}

/* ---------------------*/

.reveal-hero-copy-wrap{
  position: relative; width:100%; display:flex; flex-direction:column; 
  >.screen{
    position: relative; width:100%; top:0; left:0; margin: 0 auto;
    display:flex; justify-content:center; overflow:hidden; border-radius:var(--border-radius-xl);
    >.title-wrap{
      width:100%; padding-top: 2.4rem; word-break: keep-all; 
      display:flex; flex-direction:column; align-items:center;
      text-align:center;
      >h2{
        font-size: var(--text-title-xxl); font-weight: 500; letter-spacing: -0.035em;
        line-height: 1.3em;
      }
      >.family-logo{
        width:280px; margin-bottom: 2.4rem;
      }
    }
    >.back-image-wrap{
      position:absolute; width:100%; top:0; left:0; overflow:hidden; z-index:-1;
      >.back-image{
        width:100%; height:100%; object-fit:cover; object-position:center center;
      }
    }
    &.headline-screen{
      padding: 24px 0 80px 0;
      
    }
    &.visual-screen{
      overflow:hidden; height:calc(100vh - 64px); min-height: 900px; 
      width:100%;
    }
    
    &.copy-screen{
      padding: 80px 0; padding-bottom: 20vh;
      >.copy-wrap{
        width:80%; margin: 0 auto; display:flex; flex-direction:column; justify-content:center;
        >p{
          font-size: var(--text-body-xl); line-height: 1.7em; font-weight: 500;
          color: var(--colors-gray-800); word-break: keep-all; 
        }
        &.white{
          >p{
            color: white;
          }
        }
        >.info-box{
          position:relative; width:100%; padding: 1.6rem 2rem;
          background-color: #F0DAB7; border-radius: var(--border-radius-md);
          display:flex; flex-direction:column; gap: 0.8rem; margin-top: 4rem;
          >.info-item{
            width: 100%; display:flex; font-size: var(--text-body-md); font-weight: 700;
            gap: 8px;
            >.info-title{
              color: var(--colors-gray-800); width: 22%; flex-shrink:0 
            }
          }
        }
      }
    }
  } 
}
@media (min-width: 1025px){
  .reveal-hero-copy-wrap{
    >.screen{
      >.title-wrap{
        width: 33.75%; padding-top: 0%;
        >.family-logo{
          width:400px; margin-bottom: 3.2rem;
        }
      }
      &.headline-screen{
        padding: 32px 0 80px 0;
      }
      &.copy-screen{
        padding: 120px 0; padding-bottom: 50vh;
        >.copy-wrap{
          width:33.75%;
          >p{
            font-size: var(--text-body-xxl);
          }
          >.info-box{
            padding: 2.4rem 3.2rem;
            gap: 0.8rem; margin-top: 4rem;
            >.info-item{
              >.info-title{
                width: 15%; 
              }
            }
          }
        }
      }
    }
  }
}
.visual-screen-outer{
  position:relative; width:100%; height:calc(100vh - 32px); min-height: 700px; 
  overflow:hidden; border-radius:var(--border-radius-xl);
  display:flex; justify-content:center; align-items:top;
  >.screen.visual-screen{
    position:absolute; overflow:hidden; width:34%; height:50%; 
    margin-top: 3.2rem;
    display:flex; justify-content:center;  align-items:center;
    border-radius:var(--border-radius-xl);
    >.back-image-wrap{
      position:absolute; width:100%; height:100%; top:0; left:0; overflow:hidden; z-index:-1;
      margin: auto; right:0;
      >.back-image{
        width:100%; height:100%; object-fit:cover; object-position: center center;
      }
    }
    >.overlay{
      display:block; width:100%; height:100%; position:absolute; top:0; left:0;
      border-radius:var(--border-radius-xl);
      background-color: rgba(0,0,0,0.5); opacity:0;
      backdrop-filter: blur(12px);
    }
  }
}
@media (min-width: 1025px){
  .visual-screen-outer{
    min-height: 900px; 
  }
}
/* CSR ---------------------*/

.full-hero-wrap{
  position:relative; width:100%; height: 100vh; min-height: 720px; overflow: hidden;
  &.hero-rounded{
    width: calc(100% - 64px); height: calc(100vh - 142px); margin: 110px auto 0 auto;
    border-radius:var(--border-radius-xl); padding: 6%;
    display:flex; align-items:end;
  }
  >.full-img{
    width:100%; height:100%; position: absolute; top:50%; left:50%;
    transform: translate(-50%, -50%);
    background-size: cover; background-position:center center; z-index:-1;
    &::after{
      content:''; display:block; position:absolute; width:100%; height:100%;
      left:0; top:0; background-color: rgb(0,0,0); opacity:0.4;
    }
    &.csr-1{
      background-image:url('/dongsuh/img/csr/csr_1_hero.jpg');
    }
  }
  >.hero-title{
    position:relative; color:white; width:100%; 
    >h1{
      position: relative; font-size: var(--text-display-xl); font-weight: 700; display: inline;
      letter-spacing:-0.03em;
      &::after{
        content:''; display:block;border-radius: 50%;
        background-color: var(--colors-primary-500);
        position: absolute; right:-64px; top:-16px;
        width: 48px; height:48px; 
      }
    }
    >.desc{
      font-size: var(--text-title-xl); line-height:1.25em; font-weight: 500;
    }
  }
}

.back-color{
  display:block; width:100%; height:100vh; position:fixed; top:0; left:0; z-index:-1;
  background-color:#ffffff;
}

.container{
  &.narrow {
    padding:0 1.6rem;
  }
}
.csr-content-section{
  width:100%; padding: 4rem 0;
}

@media (min-width: 1025px){
  .container{
    &.narrow {
      padding:0 5%;
    }
  }
  .csr-content-section{
    padding: 24rem 0;
  }
}

.csr-content-block{
  width: 100%; display:grid; grid-template-columns: 1fr; gap: 2.4rem; margin: 6.4rem 0;
  transform: translateY(500px);
  >.picture{
    width:100%; height:100%; aspect-ratio:10/7.4; overflow:hidden;
    border-radius: var(--border-radius-lg);
    >img{ width:100%; height:100%; object-fit:cover; }
  }
  >.text-block{
    width:100%; padding: 2.4rem 0 0 0; font-size: var(--text-body-xl);
    color: var(--colors-gray-800); word-break:keep-all; 
    >.sub-title{
      font-size: var(--text-title-md); color: var(--colors-gray-950); font-weight: 700;
      line-height: 1.3em; margin-bottom: 2.4rem;
    }
  }
}

@media (min-width: 1025px){
  .csr-content-block{
    grid-template-columns: 1fr 1fr; gap: 3%; margin: 8rem 0;
    >.text-block{
      padding: 2.4rem 0 0 3.2rem; font-size: var(--text-body-xxl);
    }
  }
}

.past-event-wrap{
  padding: 20rem 0; color: white;
  >h3{ font-size: var(--text-title-xl); font-weight: 700; text-align:center; margin-bottom: 5.6rem; }
  >.past-event-nav{
    display:flex; margin-bottom: 4rem;
    >.past-event-nav-wrap{
      display: flex; gap: 4px;
      >.past-event-nav-item{
        padding: 0.8rem 1.6rem; font-size: var(--text-body-md); text-align:center; border-radius: 40px;
        background-color: rgba(255,255,255,0.2);
      }
    }
  }
  >.past-event-card{
    width:100%; min-height: 500px; background-color:rgba(0,0,0,0.4); overflow:hidden;
    border-radius: var(--border-radius-xl); display:flex; flex-direction:column;
  }
}

@media (min-width: 1025px){
  .past-event-wrap{
    >.past-event-card{
      flex-direction:row;
    }
  }

}