
/* Products List -----------------*/

.new-product-carousel{
  position: relative; width:100%; height: 420px; margin: 12rem auto 0 auto;
  max-width: 2400px; 
  /* background:yellow; */
  >.back-shape{
    width:260px; height:260px; position: absolute; margin: auto;
    top: 0px; left:0; right:0; blend-mode: multiply;
    >.big-circle{
      position:absolute; display:block; width:100%; height:100%; 
      border-radius: 50%; background-color: #F8F1E9;
      blend-mode: multiply;
    }
    >.point-circle{
      position:absolute; display:flex; width: 20px; height: 20px;
      width:90px; height:90px; right:0; top:0;
      border-radius: 50%; background-color:rgb(253, 32, 32); opacity: 0.75;
      justify-content: center; align-items: center;
      blend-mode: multiply;
      >.text{
        color:white; display:block; text-align: center; font-size: 1.4rem;
        font-family: 'Poppins', sans-serif; font-weight: 600; letter-spacing: 0.02em;
      }
    }
  }
}

.product-swiper-container{
  position: absolute !important; width:100%; height: 360px; 
  bottom: 0px;
  >.swiper-wrapper{
    >.product-slide{
      position:relative; width:360px; height: 360px; transition: transform 0.2s; 
      transform: scale(0.95); 
      .product-slide-inner{
        width:100%; height:100%; display:flex; flex-direction: column; justify-content: center; align-items: center;
        >img{ max-width: 100%;}
        >h4 { 
          width:100%; font-size: var(--text-body-sm); font-weight:600; text-align: center; color: #494846;
          letter-spacing: -0.03em; 
          opacity:0.3; margin-top: 8px;
        }
      }
      &.swiper-slide-active{
        transform: scale(1.2);
        .product-slide-inner{
          >h4{ opacity: 1; }
        }  
      }
    }
  }  
}

@media (min-width: 1025px) {
  .new-product-carousel{
    margin-top: 24rem; margin-bottom: 8rem;
    height: max(640px, 30vw);
    >.back-shape{
      width:480px; height:480px;
      >.point-circle{
        width:126px; height:126px; 
        >.text{
          font-size: 1.8rem;
        }
      }
    }
  }
  .product-swiper-container{
    height: 580px; 
    >.swiper-wrapper{
      >.product-slide{
        height: 580px; 
        .product-slide-inner{
          >h4 { 
            font-size: var(--text-body-lg); margin-top: -12px;
          }
        }
      }
    }
  }
}
  
/*-----------------*/

.product-nav-bar{
  width:100%; position: relative; display:flex; justify-content: center; align-items: center; gap: 0.8rem;
  margin-bottom: 3.2rem; flex-direction: column; 
  >.product-nav-item{
    width:100%; display: flex; font-size: var(--text-body-sm); font-weight: 700; cursor: pointer;
    transition: all 0.2s;
    border-radius: 6rem; border: 1px solid var(--colors-gray-300); 
    padding: 1.2rem 1.2rem 1.2rem 2.2rem; justify-content: space-between; align-items: center;
    >.product-nav-arrow{
      width: 2.4rem; height: 2.4rem; border-radius: 50%; display:flex; justify-content:center; align-items:center;
      background-color: var(--colors-primary-500);
      transition: all 0.2s;
      >.product-nav-arrow-svg{
        transform: scale(0.7); padding-top:0.2rem;
      }
    }
    &:hover{
      border: 1px solid var(--colors-gray-900);
      >.product-nav-arrow{
        background-color: var(--colors-gray-950);
      }
    }
  }
}

@media (min-width: 1025px) {
  .product-nav-bar{
    gap: 1.2rem; flex-direction: row; margin-bottom: 4.8rem;
    >.product-nav-item{
      font-size: var(--text-body-lg); height:8.4rem;
      padding: 2.2rem 2.4rem 2.2rem 3.2rem; 
      >.product-nav-arrow{
        width: 4rem; height: 4rem; 
        >.product-nav-arrow-svg{
          transform: scale(1); padding-top:0.3rem;
        }
      }
    }
  }
}

/*-----------------*/

.product-list-wrap{
  width:100%; display:grid; grid-template-columns: repeat(2, 1fr); gap: 1.2rem;
  >.product-list-card{
    margin-bottom: 3.2rem;
    >a{
      >.thumb{
        background-color: var(--colors-warm-100); display:flex; justify-content:center; align-items:center;
        aspect-ratio: 1/1; overflow:hidden; border-radius: var(--border-radius-md); overflow:hidden;
        >img{ width:86%; height:86%; object-fit: cover; transition: transform 0.2s;}
      }
      >.card-body{
        >.title{
          font-size: var(--text-body-md); 
        }
      }
    }
    &:hover{
      >a{
        >.thumb{
          >img{ transform: scale(1.1); }
        }
      }
    }
  }  
}

@media (min-width: 1025px) {
  .product-list-wrap{
    grid-template-columns: repeat(3, 1fr); gap: 2.4rem;
    >.product-list-card{
      margin-bottom:4.8rem;
      >a{
        >.card-body{
          >.title{
            font-size: var(--text-body-xxl); 
          }
        }
      }  
    }
  }
}

.btns-row{
  width:100%; 
  &.center{
    >.btn{ margin: 0 auto;}
  }
}
/* Products View -----------------*/

.container{
  &.product-view-page{
    padding-top: 8rem;
  }
}
@media (min-width: 1025px){
  .container{
    &.product-view-page{
      padding-top: 18rem;
    }
  }
}
.product-viewer-wrap{
  position:relative; width:100%;  display:flex; overflow:hidden; flex-direction: column;
    >.product-viewer-img-outer{
      display:block; position:relative; width:100%; padding-top: 1.6rem;
      >.product-viewer{
        width:100%; position:relative; overflow:hidden; border-radius: var(--border-radius-lg);
        display:flex; justify-content: center; align-items: center; height: 100vw;
        background-color: var(--colors-warm-100);
        >.product-viewer-img-wrap{
          display:flex; justify-content:center; align-items:center; width:100%; height:100%;
          position: absolute; 
          bottom:0;
          /* animation: productImgReveal 0.4s forwards; */
          >img{ max-width: 100%; max-height: 100%; object-fit: cover; }
        }
      }
    }
  
  >.product-info-wrap{
    width:100%; min-height: 500px; height:100%; display:flex; flex-direction: column; position: relative; 
    letter-spacing: -0.04em; 
    padding: 2.4rem 0 0 0;
     >.title{
      font-size: var(--text-title-xxl); word-break: keep-all;
    }
    >.desc{
      font-size: var(--text-body-lg); margin-top: 1.6rem; font-weight: 400; color: var(--colors-gray-600);
      letter-spacing: -0.04em; word-break: keep-all;
    }
    >.spec-list{
      width:100%; padding: 1.6rem 0; margin-top: 3.2rem; border-top: 1px solid var(--colors-gray-200); 
      >.item{
        display:flex; align-items: center; gap: 1.6rem; font-size: var(--text-body-md); 
        >.label { color: var(--colors-gray-600); min-width: 80px; } 
      }
    }
    >.btns-row{
      width:100%; display:flex; gap: 0.8rem; margin-top: 5.6rem; flex-wrap:wrap;
    }
  }  
}
@media (min-width: 1025px){
  .product-viewer-wrap{
    flex-direction: row;
    >.product-viewer-img-outer{
      padding-top: 3.2rem;
      >.product-viewer{
        width:45%; height: 598px;
        >.product-viewer-img-wrap{
          bottom:-100%;
        }
      }
    }
    >.product-info-wrap{
      width:50%; bottom:-100%; position: absolute; right:0;
      padding: 6.4rem 0 0 0;
      >.title{
        font-size: var(--text-title-xxl); 
      }
      >.desc{
        font-size: var(--text-body-xxl);
      }
    }
  }
}
@keyframes productViewerStart{
  0%{ width: 100%; background-color: #F3E5D3; }
  50%{ width: 100%; background-color: #F3E5D3; }
  75%{ width: 100%; background-color: #F3E5D3; }
  100%{ width:45%; background-color: #E6EAEE; }
}
@keyframes productImgReveal{
  0%{ bottom: -100%;}
  100%{ bottom:0;}
}
@keyframes productInfoReveal{
  0%{ bottom: -100%;}
  100%{ bottom:0;}
}

/*------------------*/

.product-related-content{
  width:100%; padding-top: 4rem;
  >.grid-col1-2{
    gap: 1.2rem;
  }
  >.product-related-title{
    width:100%; padding: 2.4rem 0 4rem 0;
    border-top: 1px solid var(--colors-gray-300);
    >h4{
      font-size: var(--text-title-md); font-weight: 700;
    }
  }
}

@media (min-width: 1025px){
  
  .product-related-content{
    width:50%; margin-left: 50%; padding-top: 12rem;
    >.grid-col1-2{
      gap: 2.4rem;
    }
  }
}
