body {
  scrollbar-width: 1px;
}
.main{
  position: relative; width:100%;
}
.footer{
  width: 100%; position: relative; display: flex; justify-content: center; 
  >.full-img{
    width:1402px;
  }
}
.app-header{
  position: absolute; width:100%; top:0; left:0; z-index: 9000;
  display: flex; justify-content: center; height: 100px;
  >.inner{
    position: relative; width: 100%; max-width: 1600px; height: 100px;
    display: flex; align-items: center;
    >.logo{
      display: block; width:176px; position: absolute; left:24px;
      >img{ max-width: 100%;}
    }
    >.btns-wrap{
      position: absolute; right:0;
    }
    >.nav-menu{
      position: relative; width:100%; max-width: 560px; margin: 0 auto;
      display: flex; flex-direction: row; justify-content: space-between;
      >.menu-item{
        font-size: 20px; font-weight: 600; color: #fff;
      }
    }
    >.right-util{
      position: absolute; right:24px;
      >img{ max-width: 104px;}
    }
  }
}

.section{
  position:relative; width:100%; height: 100%; min-height: 740px;
  .section-title-wrap{
    width:100%; position: relative; display:flex; justify-content: center; align-items: center;
    padding: 160px 0;
    >.section-title-img{
      width: 680px;
    }
  }
}

.section-hero{
  position: relative; width:100%; height: 100vh; min-height: 720px; overflow: hidden;
  .hero-video{
    position: relative; width:100%; height: 100vh; min-height: 720px; overflow: hidden;
    >video{
      position: absolute; width:100%; height:100%; object-fit: cover;
    }
    &::after{
      content:''; position: absolute; width: 100%; height: 100vh;
      top:0; left:0; background-color: black; opacity: 0.4;
    }
  }
}

.hero-swiper-container{
  position: relative; width:100%; height: 100vh; min-height: 720px; overflow: hidden;
  .hero-slide{
    position: relative; width:100%; height: 100vh; min-height: 720px; overflow: hidden;
    >.hero-video{
      position: relative; width:100%; height:100%; object-fit: cover;
      top:0; left:0;
    }
    &::after{
      content:''; position: absolute; width: 100%; height: 100vh;
      top:0; left:0; background-color: black; opacity: 0.4;
    }
    >.hero-title-wrap{
      width: 100%; max-width: 1010px; position: absolute; bottom:80px; left: 80px;
      color: white; z-index: 10; display: flex; flex-direction: column;
      >h2{
        color:white; font-size: 72px; font-weight: 500; line-height: 1.2em; letter-spacing: -0.02em;
        opacity: 0.8;
      }
      >.hero-logo{
        width:320px;
      }
    }
  }
  
}
.hero-pagination{
  width: 500px; position: absolute; bottom: 40px; right: 40px;
  display: flex; z-index: 10; gap:16px; cursor: pointer;
  >.pagination-item{ 
    display: inline-block; width: 140px; color:white; padding: 12px 0;
    border-top: 1px solid white; opacity: 0.5;
    >.title{
      display:block; line-height: 1.2em;
    }
    &.swiper-pagination-bullet-active{
      opacity: 1;
    }
  } 
}
/* .swiper-pagination {
  width: 500px; position: absolute; bottom: 40px !important; right: 40px !important;
  display: flex; z-index: 10; gap:16px; color: white;
  .swiper-pagination-bullet-active{
    opacity: 1;
  }
} */

.section-product{
  >.product-card-wrap{
    width:100%; height:50vw; display: flex; flex-wrap: wrap;
    >.product-card{
      position:relative; width: 25%; flex-shrink:0; padding: 32px; overflow: hidden;
      display: flex; flex-direction: column; justify-content: center; align-items: center;
      >.product-img{
        position: absolute; width: 70%; aspect-ratio: 1/1; 
      }
      &.color-1{ background-color: #ECE5D6; }
      &.color-2{ background-color: #FFF1D4; }
      &.color-3{ background-color: #E2E1E0; }
      &.color-4{ background-color: #CEC8C1; }
      >.badge-new{
        width:50px; height:50px; position: absolute; top:16px; left: 16px;
      }
    }
  }
}

.section-brands{
  height:1130px; background-size:cover; background-position: center; background-repeat: no-repeat;
  background-image: url(/dongsuh_2025/draft_b/brand_back.png);
}

.section-csr{
  min-height:100vh; 
}

.section-news{
  min-height: auto; padding: 180px 0;
  display:flex; align-items: center; justify-content: center; 
  >.full-img{
    width:1402px;
  }
}

