@import 'tailwindcss';


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html, body{
  font-family: 'Pretendard', sans-serif; overflow-x: hidden;
  color: var(--color-gray-900);
}
.poppins{
  font-family: 'Poppins', sans-serif;
}
.page-wrap{
  position: relative; width:100%; min-height: 100vh;
  letter-spacing: -0.015em;
}
